@*added @model IEnumerable<HubbleGalaxyHotelApp.Models.Room*@

@model IEnumerable<HubbleGalaxyHotelApp.Models.Room>

@{
    ViewData["Title"] = "Home Page";
}

    <body class="home-page" style="background-image: url('@Url.Content("https://i.imgur.com/hqymAWL.jpg")');background-size: contain;">
  
            
                @foreach (var item in Model)

                {
                    <div class="container">
                        <div class="card bg-dark text-white border-white" style="width: 30rem; margin: 20px auto;">
                            <a class="pictureanchor" asp-controller="Rooms" asp-action="Details" asp-route-id="@item.Id"><img src=@item.RoomImage class="card-img-top" alt="..."></a>
                            <div class="card-body text-center border-top">
                                <h1 class="card-title" style="text-shadow: 2px 2px #000000;">@item.RoomName</h1>
                                <p class="card-text">@item.RoomDescription</p>
                            </div>
                        </div>
                    </div>

                   
                }

    </body>
